<h2 id="homepageTitle">My Dashboard</h2>

<h3>Add a New Post</h3>
<form class="addNewPost">
    <div>
        <label for="postTitle">Title:</label>
        <input type="text" id="postTitle" name="postTitle">
    </div>
    <div>
        <label for="postText">Post Content</label>
        <input type="text" id="postText" name="postText">
    </div>
    <button type="submit" class="newPostBtn">Create New Post</button>
</form>

{{#if posts.length}}
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> blog-posts post }}
        <a class="editDeleteButton" href="/dashboard/edit/{{post.id}}">Edit or Delete Post</a>
    </li>
    {{/each}}
</ul>
{{/if}}

<script src="/js/addPost.js"></script>