* {
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
}

header h1 {
    margin-right: 50px;
    margin-left: 50px;
}

body {
    margin: auto;
    background-color: lightcyan;

}

main {
    width: 80%;
    margin: auto;
}

nav {
    background-color: lightskyblue;
}

a {
    background-color: lightskyblue;
    color: black;
    margin-right: 20px;
}

li {
    list-style: none;
}

.posts {
    border: 1px solid black;
    margin-top: 25px;
    padding: 10px;
    background-color: lightskyblue;
}

#postFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.posts a {
    background-color: lightskyblue;
}

#homepageTitle {
    text-align: center;
    font-size: 50px;
}

.forms {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.login {
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}

.signup {
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}

#email-login-div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#password-login-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login h2 {
    font-size: 25px;
}

#email-signup-div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#username-signup-div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#password-signup-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logoutBtn {
    background-color: transparent;
    border: none;
}